.Login {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;

}

.Login h2 {
    color: #ffffff;
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 50px;
}

.LogoName {
    text-transform: uppercase;
    color: #ffffff;
}

.LogoName > span {
    color: #5384ff;
}

.SnackBarStyle > div {
    background: #353245!important;
    border-radius: 5px!important;
    text-align: center!important;
}


.Login .UsersField {
    margin-bottom: 20px;
}

.Login .EnterButton {
    margin-top: 50px;
}

.LoginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*
    Responsive
 */

@media screen and (max-width: 1440px) {
    .Login {
        padding: 50px 0;
    }

    .Login h2 {
        margin-bottom: 50px;
    }
}