.CardItem {
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #403c54;
    margin: 0 5px 15px 0;
    border-radius: 5px;
}

.CardItem .Title {
    color: #ffffff;
    font-size: 16px;
}

.lfgZPS {
    border: none;
}

.JJakk {
    background: transparent!important;
}

.ijaWEf {
    min-width: 275px;
}

.lfgZPS {
    min-width: 275px;
}

.CardItem .DetailInfo {
    display: flex;
}

.DetailInfo .Company {
    font-size: 14px;
    color: #9ea3b4;
    position: relative;
    margin-right: 26px;
}

.DetailInfo .Company::before {
    content: '';
    position: absolute;
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #9ea3b4;
    top: 50%;
    transform: translateY(-50%);
    right: -13px;
}

.DetailInfo .Price {
    font-size: 14px;
    color: #9ea3b4;
}

.UserAvatar {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    overflow: hidden;
}