.react-calendar__navigation__prev2-button, .react-calendar__navigation__next2-button {
    display: none;
}

.HomeCalendar {
    max-width: 450px;
    width: 100%;
    height: 400px;
    border: none;
    background: transparent;
    box-shadow: 0 3px 40px rgba(23, 24, 32, 0.2);
}

.react-calendar__navigation {
    height: 90px;
    background: #3a3e52;
    margin-bottom: 30px;
    padding: 0 30px;

}

.react-calendar__navigation__label {
    font-size: 24px;
    color: #ffffff;
}

.react-calendar__month-view__weekdays__weekday {
    font-size: 14px;
    color: #9ea3b4;
}
.react-calendar__tile {
    border-radius: 50%;
}
button.react-calendar__tile:enabled:hover {
    background: #3a3e52;
}

.react-calendar__navigation button:enabled:hover, .react-calendar__navigation button:enabled:focus {
    background: transparent;
}

.react-calendar__navigation__arrow {
    font-size: 18px;
    color: #9ea3b4;
}

.react-calendar__month-view__days__day {
    color: #ffffff;
    font-size: 16px;
}

.react-calendar__month-view__days__day--neighboringMonth {
    color: #9ea3b4;
}

.react-calendar__tile--active {
    border-radius: 50%;
}

.react-calendar__month-view  {
    padding: 0 35px;
}


@media screen and (max-width: 1900px) {
    .HomeCalendar {
        max-width: 340px;
    }
}