.HomeColumnGraph {
    padding: 40px;
    max-width: 700px;
    width: 100%;
    box-shadow: 0 3px 40px rgba(23, 24, 32, 0.2);
}

.ColumnHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.ColumnHeader p {
    font-size: 24px;
    color: #ffffff;
}

.HomeColumnGraph .SelectField p {
    color: #9ea3b4;
}

.HomeColumnGraph .SelectField select {
    color: #9ea3b4;
}


@media screen and (max-width: 1900px){
    .HomeColumnGraph {
        max-width: calc(100% - 750px);
        padding: 10px;
    }
}


@media screen and (max-width: 1360px){
    .HomeColumnGraph {
        max-width: calc(100% - 20px);
        padding: 10px;
        margin-bottom: 20px;
    }

    .HomeFlexWrapper {
        justify-content: space-around;
    }
}